/**
 * @author PQ
 * @Description
 * @Date 22:01 18/3/2020
 * @version 3.4.2
**/
html {
    height: 100%;
    background-image: url("/static/img/login-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    margin: 200px auto;
    width: 400px;
    background: rgba(255,255,255,0.3);
    border: #26c6da 1px solid;
    box-shadow: black 2px 2px 5px;
}

.change-password-width {
    width: 400px;
}

.change-password-box h1 {
    padding: 30px 0;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}