.fun-card-box{
    background: #FFFFCC;
    height: 800px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.fun-card-box .jumbotron{

    width: 80%;
    height:600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.fun-card-box .jumbotron .input-title{
    width: 135px;
    height: 450px;
    border:none;
    border-bottom: #CCFFFF;
    background: #FFCCCC;
    border:black 1px solid;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}
.fun-card-box .jumbotron .input-content{
    width: 755px;
    height: 450px;
    border:none;
    border-bottom: #CCFFFF;
    background: #FFCCCC;
    text-align: center;
    border:black 1px solid;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}
.fun-card-box .jumbotron .button{
    width: 200px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    background: #19abbd;
    cursor: pointer;
}