/**
 * @author PQ
 * @Description 找回密码
 * @Date 15:34 19/3/2020
 * @version 3.4.10
**/

html {
    height: 100%;
    background-image: url("/static/img/login-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.find-password-box-width {
    width: 600px;
}

.find-password-box {
    background: rgba(255,255,255,0.3);
    border: #26c6da 1px solid;
    box-shadow: black 2px 2px 5px;
    margin: 200px auto;
}

.logo img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px auto;
}

.find—password-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 15px;
}

.find—password-title > li > div {
    border: 1px gray solid;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin: 3px auto;
    line-height: 33px;
}

.find—password-title > li {
    font-size: 15px;
    line-height: 15px;
    width: 60px;
    height: 50px;
    text-align: center;
}