/**
 * @author PQ
 * @Description 用户个人信息
 * @Date 01:37 19/3/2020
 * @version 3.4.8
**/

main {
    background: #edf1f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.literature-list-box {
    flex-grow: 1;
    background: #f4f4f4;
    padding-top: 20px;
    min-height: 800px;
}

.literature-list-box > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.literature-list-box > header > h1 {
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
}

.literature-list-box > header > data {
    margin-right: 30px;
}

article {
    height: 200px;
    background: white;
    border: 1px solid #eaeaea;
}

article:hover {
    border: 1px solid #19abbd;
    background: #FBFDFF;
}

article > .article-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;
}

article > .article-title > h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto 0px 20px;
}

article > .article-title > h2:hover {
    color: #26c6da;
}

article > .article-title > time {
    margin-right: 30px;
}

article > .article-context {
    border-top: 1px solid #eaeaea;
    padding-top: 20px;
    margin: 0 20px;
    font-size: 16px;
    color: #999;
    height: 140px;
    display: -webkit-box;
    overflow: hidden;
　　-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
