/**
 * @author PQ
 * @Description 文章页
 * @Date 15:07 18/3/2020
 * @version 3.4.1
**/
html {
    background: #edf1f2;
}

a {
    color: #26c6da;
    text-decoration: none;
}

.main-box {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    justify-content: space-between;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.literature-box {
    width: 900px;
    background: #f4f4f4;
    box-shadow: #707070 5px 5px 5px, white -2px -2px 1px;
    border: #26c6da 2px solid;
    border-radius: 25px;
}

.literature-box > .context {
    padding: 20px;
    color: #333;
}

.author-box {
    background: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #19abbd;
    border-radius: 15px;
    box-shadow: #707070 5px 5px 5px;
}

.author-box > h2 {
    border-radius: 15px 15px 0 0;
    padding: 10px 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #19abbd;
}

.author-box > h3 {
    border-bottom: #19abbd 2px solid;
    padding: 10px 10px 10px 30px;
    text-align: start;
}

.author-box > h3:last-child {
    border-bottom: none;
    border-radius: 0 0 15px 15px;
}

.author-box > h3:hover {
    color: white;
    background: #26c6da;
    text-shadow: #707070 1px 1px 3px;
}



.discuss-box {
    border: 2px solid #707070;
    width: 800px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: -2px -2px 1px #000, 2px 2px 1px #fff;
}

.discuss-box-title {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 5px;
}

.discuss-box-title > h2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.discuss-box-title > a {
    padding-top: 10px;
    margin-right: 15px;
}


.discuss-box > .discusses {
    margin-bottom: 20px;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
    padding: 15px;
}

.discuss-box > .discusses > .discuss-title {
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.discusses > .discuss-title > h4 {
    font-weight: bold;
}

.discuss-box > a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    color: #707070;
    transition: 1s;
}

.discuss-box > a:hover{
    color: #26c6da;
}

.discusses div:last-child {
    margin-left: 20px;
}