.fun-card-box{
    background: #FFFFCC;
    height: 600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.fun-card-box .card{
    width: 300px;
    height: 300px;
    margin: 0 20px;
    border-radius: 20px;
    border: #19abbd 1px solid;
    overflow: hidden;

}
.fun-card-box .card .title{
    width: 200px;
    height: 50px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid grey;
    font-weight: bold;
    font-size: 20px;

}