/**
 * @author PQ
 * @Description user-info的样式设计
 * @Date 14:51 21/3/2020
 * @version 3.4.21
**/

main {
    background: #edf1f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header > div > h3 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

article {
    margin-left: 50px;
    margin-top: 10px;
}

.main-panel {
    display: flex;
    justify-content: space-between;
    min-height: 700px;
}

.literature-list-box {
    flex-grow: 1;
    margin-right: 50px;
}