.navigation{
    width: 80%;
    width: 30px;
    overflow: hidden;
}
.normal {
    width: 80%;
    height: 50px;
    margin: 0px auto;

}

.logo{
    float: left;
    font-family: 幼圆;
    font-weight:bold ;
}
.logo img{
    float: left;
    width: 45px;
    height:45px;
    margin-left: 10px;
}
.logo input[type="text"]{
    width:300px ;
    height:35px ;
    margin: 5px 5px 1px 30px;
    font-weight:bold ;
    text-align:center;
    overflow: hidden;
}
.logo input[type="submit"]{
    width: 50px;
    height: 38px;
    margin: 5px 0px;
    overflow: hidden;
}

.nav{
    float: right;
    overflow: hidden;
}

.nav li{
    float: left;
    font-size:18px;
    margin: 5px 40px;
    overflow: hidden;
    list-style-type:none;

}
.container-header{
    width: 60%;
    height: 50px;
    margin: 0 auto;
    zoom: 1;
    overflow: hidden;
}


.input1{
    min-height: 34px;
    margin: 0 auto;
    display: block;
    width: 99%;
    height: 80%;
    font-size: 32px;
    line-height: 1.0;
    font-weight: 600;
    font-synthesis: style;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #9d9d9d;
    text-align: center;
}
.editable-toolbar-controls{
    width: 60%;
    height: 36px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 0;
    border: 0;
    border-top: 1px solid rgba(26,26,26,.08);
    zoom:1;
    overflow:hidden;
}
.button{
    float:left;
    border: grey;
    margin: 0px 20px;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 3px;

}
.button button{
    float:left;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.button-img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill:currentColor;
}
.editable-toolbar-controls span{
    float: left;
}
.content-header{
    white-space: pre-wrap;
}
.essay-content{
    width: 60%;
    height: 800px;
    margin: 0 auto;
    zoom: 1;
    overflow: hidden;
}
.essay-content-input{
    width: 60%;
    height: 800px;
    margin: 0 auto;
    zoom: 1;
    overflow: hidden;
}
.input2{
    min-height: 34px;
    margin: 0 auto;
    display: block;
    width: 99%;
    height: 80%;
    font-size: 32px;
    line-height: 1.0;
    font-weight: 600;
    font-synthesis: style;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #9d9d9d;
}

